<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TweetMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/delete">Delete Account</a></div>
    <div class="navlink"><a href="/upgrade">Upgrade to Twitter Prime</a></div>
  </nav>
  <div class="flex" id="ad">
    <div class="border-left">
      <h3>Want to highlight your posts? Upgrade to Twitter Prime:</h3>
    </div>

  <section id="app">

  </section>

  <div id="tweetMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="tweet" src="assets/img/tweet.png" alt="tweet"/>

    
  </div>
  <div class="border-right" id="ad">
      <h3>Want a break from the ads? Upgrade to Twitter Prime</h3>
    </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
